<% if user_signed_in? %>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to root_path, class: 'navbar-item' do %>
          <h1 class="is-3 has-text-weight-bold is-uppercase">Fitness Tracker</h1>
        <% end %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Another link
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-rounded">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span>Profile</span>
              </a>
              <%= link_to destroy_user_session_path, method: :delete, class: 'button is-primary is-rounded' do %>
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span><strong>Log Out</strong></strong>
              <% end %>
            </div>
          </div>
        </div>
    </div>

    </div>

  </nav>
<% end %>